* {
	margin: 0;
	padding: 0;
	box-sizing: 
}

body {
	height: 100vh;
	position: relative;
}

a {
	text-decoration: none;
}

li {
	list-style: none;
}

.clearfix:after {
	content: '';
	display: block;
	clear: both;
}